body {
    margin: 0;
    padding: 0;
}

footer{
    padding-bottom: 20px;
    background-color: #1290b6;
    color: white;
    text-align: center;
    height: 330px;
}

.container-falend {
    margin: 0px auto;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.footer-contents-falend {
    float: left;
    width: 25%;
    text-align: justify;
    text-justify: inter-word;
}

.footer-content-falend img {
    width: 80px;
    float: center;
    text-align: center;
    padding-top: 100px;
}

.footer-content-falend h6{
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin: 0px;
}

.footer-content-falend i {
    padding-right: 5px;
}

.footer-content-falend h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

.logo-falend {
    text-align: center;
}

.padding-footer-falend {
    padding-top: 80px;
}

.copyright-falend {
    border-top: 1px solid white;
    background-color: #1290b6;
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
}
